.env

keys/
data/
infra/variables.tf

# Terraform
infra/.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Airflow
airflow/*
!airflow/dags/
!airflow/dags/**

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
